#body_home {
    background-image: url(Images/Background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#caixa_esquerda {
    color: white;
    margin: 7% 4% auto 4%;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

#sobre {
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}